.containerSection {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  h1 {
    font-family: jakartaBold;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 120%;

    text-align: center;

    color: #000000;
  }

  h2 {
    font-family: jakarta;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 75px;

    text-align: center;

    color: #000000;
  }
}

.iconContainer {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  border-radius: 19.7295px;

  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.2));
  cursor: pointer;
  user-select: none;
}

.iconContainer:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: all 0.3s ease-in-out;
  background: #d9f1cc;
}

.iconWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1100px;

  gap: 20px;
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 auto;
  gap: 20px;
}

.containerSection2 {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-height: 155vh;
  gap: 25px;
  margin-bottom: 25px;
  transition: all 0.3s ease-in-out;
  h1 {
    font-family: jakartaBold;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    color: #000000;
  }

  h2 {
    font-family: jakarta;
    font-family: jakarta;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-self: center;
    color: #000000;
    width: 120px;
    margin: 0 auto;
    padding-left: 25px;
    padding-bottom: 15px;

    border-bottom: 3px solid #ff4a01;
  }
}

.questionContainer {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 980px 24px 28px;
  gap: 10px;

  width: 1100px;
  height: 60px;

  background: #ff4a01;
  border-radius: 15px;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.2));
}

.questionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;

  max-height: 120vh;
  transition: all 0.3s ease-in-out;
}
.containerSection3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
  margin-top: 50px;
  height: 105vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.curhatInputContainer {
  width: 35vw;
  max-width: 800px;
  height: 650px;

  background: linear-gradient(165.05deg, #e1eeeb -1.3%, #4b8579 96.03%);
  border-radius: 25px;
}

.curhatHalfPage {
  height: 650px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "jakartabold";
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 120%;
    /* or 121px */

    /* White */

    color: #ffffff;
  }
  h2 {
    font-family: "jakartabold";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;

    color: #ffffff;
    margin-bottom: 20px;
  }
}

.curhatWrapper {
  display: flex;
  width: 518px;
  height: fit-content;
}

.curhatContainer {
  height: 30px;
  background: #d9d9d9;
  border-radius: 25px;
  padding-inline: 20px;
  padding-top: 7px;
}

.formInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-block: 10px;
}
.formInput2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formInput input {
  width: 80%;
  height: 45px;
  padding-inline: 15px;
  font-family: "jakarta";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;

  background: #ffffff;
  border-radius: 13.527px;
}
.formInput textarea {
  padding-inline: 15px;

  width: 80%;
  font-family: "jakarta";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;

  background: #ffffff;
  border-radius: 13.527px;
}

.formInput label {
  font-family: "jakarta";
  font-style: normal;
  font-weight: 400;
  font-size: 21.6432px;
  line-height: 140%;
}

.buttonTitle {
  font-family: "jakarta";
  font-style: normal;
  font-weight: 400;
  font-size: 21.6432px;
  line-height: 140%;
}

.kontur1s {
  position: absolute;
  width: auto;
  height: 700px;
  top: -220px;
  left: -230px;
  rotate: 110deg;

  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.kontur2s {
  position: absolute;
  width: auto;
  height: 800px;

  top: -250px;
  right: -300px;

  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.kontur3s {
  position: absolute;
  width: auto;
  height: 1000px;

  top: 100vh;
  left: -400px;

  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.kontur4s {
  position: absolute;
  width: auto;
  height: 750px;

  top: 110vh;
  right: -450px;
  rotate: 55deg;

  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
