.container {
  display: flex;
  height: 100vh;
  width: 99.5vw;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 450px) {
    height: 100vh;
  }
}

.containerMov {
  display: flex;
  height: 100vh;
  width: 99.5vw;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 450px) {
    height: 100vh;
    
  }
}

.containerMascot {
  display: flex;
  height: 65vh;
  width: 99 .5vw;
  justify-content: center;
  align-items: center;
  color: white;

  @media screen and (max-width: 450px) {
    flex-direction: column-reverse;
    height: 600px;
  }
}

.mascotText {
  background: white ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  P {
    width: 500px;
    font-size: 18px;
    font-family: firasans-s;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
  }

  @media screen and (max-width: 450px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    margin-left: 0px;

    P {
      font-size: 14px;
      width: 70vw;
    }
  }
}


.timeline{
  background: linear-gradient(91.43deg, #09748D 0%, #281F64 97.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  h1 {
    font-family: firasans;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  @media screen and (max-width: 450px) {
    h1 {
      font-size: 70px;
      
      margin-top: 200px;
      margin-bottom: 100px;
    }
  }
}

.containerMascot img {
  width: 750px;
  padding-inline: 50px;
}

.buttonMascot {
  background:linear-gradient(117.97deg, #228DB5 0%, #0B6A8D 115%);
  border-radius: 1000px;
  font-family: jakarta;

  width: 150px;
  height: 45px;
  color: white; 
  text-align: center;
  padding-top: 10px;
  margin-left: auto;
  margin-top: 50px;

  @media screen and (max-width: 450px) {
    margin-left: 0px;
    margin: 0 auto;
    margin-top: 15px;
    width: 330px;
    height: 31px;
    font-size: 14px;
    padding-bottom: 25px;
    color: #f5fcb5;
    background: #282063;
  }
}

.buttonMascot:hover {
  cursor: pointer;
  background: white;
  color: #5e2d7b;
  transition: cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.1s;
}

.containerModal {
  display: flex;

  width: 99.5vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.title {
  display: flex;
  width: 99.8vw;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  flex-direction: column;

  @media screen and (max-width: 450px) {
    margin-top: 6vh;
  }
}

.titleText {
  background: linear-gradient(117.97deg, #BB915D 0%, #1E8CB7 115%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: firasans;
  letter-spacing:3  px;
  height: 180x;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 10px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  h1 {
    font-size: 100px;
    text-align: center;
  }

  h2 {
    font-size: 30px;
    margin-top: 25px;

    text-align: center;
  }

  @media screen and (max-width: 450px) {
    padding-top: 0px;
    h1 {
      padding-top: 10px;
      font-size: 70px;
    }

    h2 {
      margin-top: 15px;
      font-size: 20px;
    }
  }
}
.carouselcontainer {
  margin-top: 50px;
}

.pageBackground {
  background: linear-gradient(
    180deg,
    #BFDAB6 0%,
    #80C2C7 25.78%,
    #16A6B5 75.75%,
    #33548B 90.05%
  );
  padding-top: 10px;
  overflow: hidden;
  // border: 1px solid red;
}
.timelineText {
  background: linear-gradient(91.43deg, #09748D 0%, #281F64 97.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.teaser {
  background: linear-gradient(91.43deg, #09748D 0%, #281F64 97.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;


  h1 {
    font-family: firasans;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  @media screen and (max-width: 450px) {
    h1 {
      font-size: 70px;
      
      margin-top: 300px;
    }
  }
}

.sosmed{
  padding-inline: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width:40vw;
  @media screen and (max-width: 450px) {
  width: 100vw;
  }
}