.container {
  display: flex;
  height: 100vh;
  width: 99.5vw;
  justify-content: center;
  align-items: center;
}

.containerMascot {
  display: flex;
  height: 100vh;
  width: 99.5vw;
  justify-content: center;
  align-items: center;
  color: white;
}

.mascotText {
  background: linear-gradient(153.18deg, #d5a33b -3.98%, #f5fcb5 70.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  P {
    width: 500px;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
  }
}

.containerMascot img {
  width: 600px;
  padding-inline: 50px;
}

.buttonMascot {
  background: #5e2d7b;
  border-radius: 1000px;
  width: 150px;
  height: 35px;
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-left: auto;
  margin-top: 50px;
}

.buttonMascot:hover {
  cursor: pointer;
  background: white;
  color: #5e2d7b;
  transition: cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.1s;
}

.containerModal {
  display: flex;

  width: 99.5vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.title {
  display: flex;

  width: 99.8vw;
  justify-content: center;
  align-items: center;
  margin-block: 50px;

  flex-direction: column;
}

.titleText {
  background: linear-gradient(117.97deg, #d5a33b -4.84%, #5e2d7b 75.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: bambino;

  height: 130px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  h1 {
    font-size: 60px;
    text-align: center;
  }

  h2 {
    font-size: 30px;
    margin-top: 25px;

    text-align: center;
  }
}
.carouselcontainer {
  margin-top: 50px;
}

.pageBackground {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #2e5d87 24.18%,
    #281f64 40.78%,
    #356777 59.75%,
    #292645 91.05%
  );
  padding-top: 10px;
}

.teaser {
  background: linear-gradient(91.43deg, #d5a33b 13.77%, #f5fcb5 97.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
  }
}
