.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  overflow-x: hidden;

  @media screen and (max-width: 450px) {
    max-width: 100%;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1300px;
  }
}

.backgroundTop {
  background: #1a1b1f;
  position: absolute;
  z-index: -3;
  left: 0;
  top: 0;
  height: fit-content;

  // filter: grayscale(30%) brightness(50%) contrast(60%);
  video {
    min-height: 100vh;
    min-width: 100vw;
  }

  @media screen and (max-width: 450px) {
    max-height: 100vh;
    overflow: hidden;
    video {
      min-height: none;
      height: auto;
      min-width: 400vw;
      margin-left: -150vw;
    }
  }
}

.backgroundTop2 {
  background: #000000c7;
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;

  // filter: grayscale(80%) brightness(50%) contrast(60%);
}

.containerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  height: 100vh;
  gap: 45px;
  position: relative;

  img {
    height: 300px;
  }

  h1 {
    font-family: "BlackHarbour";
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 18px;
    /* identical to box height, or 28% */

    letter-spacing: 0.05em;

    color: #ffffff;
  }

  h2 {
    font-family: "BlackHarbour";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 110%;
    max-width: 570px;
    text-align: center;

    color: #ffffff;
  }

  @media screen and (max-width: 450px) {
    justify-content: flex-start;
    padding-top: 15vh;
    margin-bottom: 20vh;
    height: 130vh;
    gap: 18px;
    h1 {
      max-width: 90vw;
      font-size: 38px;
      text-align: center;
      line-height: 45px;
    }
    h2 {
      font-size: 20px;
      max-width: 75vw;
    }

    img {
      height: 250px;
      width: auto;
    }
  }
}

.buttonDokumen {
  background: #800000;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  padding-inline: 26px;
  padding-block: 12px;
  font-family: "BlackHarbour";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  cursor: pointer;
}

.buttonDokumen:hover {
  background: #d00707;
  transform: scale3d(1.1, 1.1, 2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  h1 {
    font-family: "BlackHarbour";
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 119px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }

  @media screen and (max-width: 450px) {
    h1 {
      font-size: 70px;
      line-height: 75px;
    }
  }
}

.text_container {
  box-sizing: border-box;
  width: 350px;

  border: 3px solid #800000;
  border-radius: 31px;
  padding: 20px;

  p {
    font-family: "BlackHarbour";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;

    text-align: justify;

    color: #1a1b1f;
  }

  h1 {
    font-family: "BlackHarbour";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 34px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #1a1b1f;
  }

  @media screen and (max-width: 450px) {
    width: 90vw;
    padding: 10px;
    p {
      font-size: 20px;
    }
    h1 {
      font-size: 30px;
    }
  }
}

.caketum_container {
  position: relative;

  @media screen and (max-width: 450px) {
    img {
      max-width: 90vw;
      height: auto;
    }
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  margin-bottom: 200px;

  @media screen and (max-width: 450px) {
    flex-direction: column;
  }
}

.vote_button {
  font-family: "BlackHarbour";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 54px;

  background: #1a1b1f;
  border-radius: 15px;

  padding-inline: 40px;
  padding-block: 15px;

  color: #ffffff;
  margin-bottom: 150px;
}

.no_caketum {
  width: 51px;
  height: 51px;
  position: absolute;
  z-index: 1;
  border-radius: 100%;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "BlackHarbour";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 34px;
  /* identical to box height */

  color: #ffffff;

  background: #1a1b1f;
}
