.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.backgroundTop {
  background: #1a1b1f;
  width: 100vw;
  position: absolute;
  z-index: -3;
  left: 0;
  top: 0;
  height: fit-content;

  // filter: grayscale(30%) brightness(50%) contrast(60%);
}

.backgroundTop2 {
  background: #000000c7;
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;

  // filter: grayscale(80%) brightness(50%) contrast(60%);
}

.containerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  height: 120vh;
  gap: 45px;
  position: relative;

  img {
    height: 300px;
  }

  h1 {
    font-family: "BlackHarbour";
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 18px;
    /* identical to box height, or 28% */

    letter-spacing: 0.05em;

    color: #ffffff;
  }

  h2 {
    font-family: "BlackHarbour";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 110%;
    max-width: 570px;
    text-align: center;

    color: #ffffff;
  }
}

.buttonDokumen {
  background: #800000;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  padding-inline: 26px;
  padding-block: 12px;
  font-family: "BlackHarbour";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  cursor: pointer;
}

.buttonDokumen:hover {
  background: #d00707;
  transform: scale3d(1.1, 1.1, 2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: "BlackHarbour";
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 119px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }
}

.text_container {
  box-sizing: border-box;
  width: 400px;

  border: 3px solid #800000;
  border-radius: 31px;
  padding: 20px;

  p {
    font-family: "BlackHarbour";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;

    text-align: justify;

    color: #1a1b1f;
  }

  h1 {
    font-family: "BlackHarbour";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 34px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #1a1b1f;
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.vote_button {
  font-family: "BlackHarbour";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 54px;

  background: #1a1b1f;
  border-radius: 15px;

  padding-inline: 40px;
  padding-block: 15px;

  color: #ffffff;
  margin-bottom: 150px;
}
