.progressBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  @media screen and (min-width: 1285px) {
    width: 1000px;
  }

  @media screen and (max-width: 1280px) {
    width: 900px;
  }

  @media screen and (max-width: 450px) {
    width: 75vw;
  }
}

.bar {
  position: absolute;
  z-index: 0;
  margin-bottom: 5px;
  background: black;

  width: 80vw;
  height: 3px;
  // background: linear-gradient(to bottom, black, black 90%, white 90%, white);

  @media screen and (max-width: 450px) {
    margin-bottom: 0px;
    width: 3px;
    height: 425px;
    background: #800000;
  }
  @media screen and (min-width: 1285px) {
    width: 1000px;
  }
}

.barActive {
  position: absolute;
  z-index: 0;
  margin-bottom: 15px;
  background: black;

  width: 1200px;
  height: 3px;

  @media screen and (max-width: 450px) {
    margin-bottom: 0px;
    width: 80vw;
  }
}

.dots {
  width: 30px;
  height: 30px;
  color: blue;
  position: relative;
  z-index: 1;
  background: white;

  border-radius: 100%;
  margin-block: 20px;

  @media screen and (max-width: 450px) {
    width: 20px;
    height: 20px;
  }
}

.miniDots {
  width: 10px;
  height: 10px;
  position: relative;
  z-index: 1;
  background: black;

  border-radius: 100%;
  margin-block: 20px;

  @media screen and (max-width: 450px) {
    background: #800000;
  }
}

.dotsActive {
  width: 30px;
  height: 30px;
  color: blue;
  position: relative;
  z-index: 1;

  border-radius: 100%;
  margin-block: 20px;

  background: black;
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.4);

  @media screen and (max-width: 450px) {
    width: 20px;
    height: 20px;
    background: #800000;
  }
}

.progressBar {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 450px) {
    width: 60vw;
    flex-direction: column;
    height: 400px;
  }
  @media screen and (max-width: 1285px) {
    width: 900px;
  }

  @media screen and (min-width: 1285px) {
    width: 1000px;
  }
}

.dotsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;

  h2 {
    width: 50px;
    text-align: center;
    overflow: visible;
    font-size: 15px;

    margin: 0;
    color: white;
  }

  @media screen and (max-width: 450px) {
    flex-direction: row;
    width: 75vw;
    gap: 5px;

    h2 {
      width: 50% !important;
      font-family: "BlackHarbour";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 27px;

      text-align: center;

      margin: 0;
      color: black;
    }
    @media screen and (max-width: 400px) {
      h2 {
        font-size: 20px;
        line-height: 22px;
      }

      @media screen and (max-width: 300px) {
        h2 {
          font-size: 18px;
          line-height: 20px;
        }
      }
    }
  }
}

.background {
  background: #800000;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding-inline: 50px;
  padding-block: 15px;
  margin: 0 auto;
  margin-top: 70px;
  max-width: 1200px;

  position: relative;

  @media screen and (max-width: 1280px) {
    padding-inline: 0px;
    padding-block: 20px;

    max-width: 90vw;
    margin: 0 auto;
    margin-top: -110px;
  }

  @media screen and (max-width: 450px) {
    background: white;
    margin-top: -500px;

    @media screen and (max-height: 950px) {
      margin-top: -650px;
      @media screen and (max-height: 850px) {
        margin-top: -550px;
        @media screen and (max-height: 760px) {
          margin-top: -450px;
          @media screen and (max-height: 680px) {
            margin-top: -350px;
          }
        }
      }
    }
  }
}

.miniDotsContainer {
  position: absolute;
  display: flex;
  width: 80vw;
  justify-content: space-between;
  z-index: 1;
  margin-top: -5px;

  @media screen and (max-width: 460px) {
    position: absolute;
    width: 100%;

    flex-direction: column;
    height: 475px;
    left: 48.5%;
    margin: 0 auto;
  }
  @media screen and (min-width: 1285px) {
    width: 1000px;
  }
}
