.wrapperCard {
  max-width: 1280px;
  max-height: 470px;
}

.madeElementWrapper {
  display: flex;
  flex-direction: row;
  width: 1280px;

  margin: 0 auto;
  z-index: 5;
}

.madeElementContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1250px;
  height: 470px;
  margin-left: 50px;
  h1 {
    position: relative;
    bottom: 36%;
    left: 52%;
    font-style: normal;
    font-size: 40px;
    line-height: 36px;
    font-family: jakartabold;
    color: #f5fcb5;
    width: 500px;
  }

  p {
    position: relative;
    bottom: 30%;
    left: 52%;
    text-align: justify;
    width: 500px;
    color: #f5fcb5;
    font-family: jakarta;
  }

  @media screen and (max-width: 450px) {
    flex-direction: column;
    height: 600px;

    h1 {
      bottom: 200px;
      font-size: 30px;
      width: 300px;
      left: 440px;
      text-align: center;
    }
    p {
      position: absolute;
      width: 300px;
      top: 320px;
      margin-bottom: 300px;
      left: 495px;
      font-size: 14px;
    }
  }
}

.madeElementContainer img {
  position: relative;

  top: 15%;
  width: 627px;
  height: 359px;

  margin: 0;
  object-fit: fill;
  margin-bottom: 10px;

  @media screen and (max-width: 450px) {
    margin: 0 auto;
    top: 100px;
    right: 2%;
    width: 350px;
    height: 200px;
  }
}

.madeElementImage img {
  width: 300px;
  height: 200px;
  border-radius: 24px;
  margin: 0;
  object-fit: fill;
  margin-bottom: 10px;
}

.madeElementImage {
  display: flex;
  width: fit-content;
  border: yellow 3px solid;
}

.madeElementContent {
  display: flex;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  justify-content: center;
  border: red solid 1px;
  width: fit-content;

  h1 {
    text-align: center;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    font-family: jakartabold;
    color: #fff;
  }

  p {
    text-align: justify;
    width: 500px;
    margin: 0 auto;
  }
}

.dots {
  width: 25px;
  height: 25px;
  color: blue;

  background: linear-gradient(180deg, #d5a33b 0%, #f5fcb5 97.92%);
  border-radius: 100%;
  margin-top: 20px;
  font-family: jakarta;
}

.dots:hover {
  cursor: pointer;
}

.dotsactive {
  width: 30px;
  height: 30px;

  border-radius: 100%;
  margin-top: 20px;
  background: #442e00;
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
  font-family: jakarta;
}

// width: "25px",
//           height: "25px",
//           color: "blue",

//           background: "linear-gradient(180deg, #D5A33B 0%, #F5FCB5 97.92%)",
//           borderRadius: "100%",
//           marginTop: "20px",
