.descContainer {
  width: 600px;
  height: 220px;
  display: flex;
  background: #ff7045;
  border-radius: 25px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}

.madeElementButton {
  border-radius: 25px;
  padding: 0 auto;
  padding-top: 15px;
  width: 200px;
  height: 48px;
  background: #ff9f78;

  margin: 0 auto;

  p {
    text-align: center;
    font-style: normal;
    text-decoration: none;

    font-size: 17px;
  }
}

.kontur {
  position: absolute;
  height: 770px;
}
.kontur img {
  position: absolute;
  height: 700px;
}

.madeElementButton:hover {
  background: white;
  color: #fb8252;
}
.slider2 {
  display: flex;

  max-width: 595px;
}

.galleryElementContainer2 {
  width: 595px;
  height: 700sssssssspx;
}
.galleryElementContainer2 img {
  /* margin-inline: 1px; */
  width: 595px;
  height: 700px;
  object-fit: cover;
  border-radius: 20px;
}

.title {
  display: flex;
  justify-content: flex-start;

  h1 {
    max-width: 350px;

    font-size: 89px;
    font-weight: 300;
    color: #4b8579;
    font-family: jakartabold;
  }
}

.containerSection {
  margin: 0 auto;

  height: 720px;
  display: flex;
  justify-content: center;
  gap: 78px;
  align-items: center;
}

.halfpage {
  max-width: 596px;
  height: 720px;
  display: flex;
  flex-direction: column;
  gap: 125px;
}

.slider1 {
  display: flex;
}

.titleMajalah {
  h2 {
    font-size: 32px;
    font-weight: 600;
    color: #4b8579;
    margin-bottom: 20px;
    margin-left: 50px;
  }
}

.descContainer2 {
  height: 100px;
  overflow-y: hidden;
  p {
    font-size: 20px;
    text-align: justify;
  }
}
