.containerSection {
  margin: 0 auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  max-width: 1600px;
  height: 720px;
  z-index: 1;
  background: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 50px;
}

.containerSection2 {
  margin: 0 auto;
  max-width: 1600px;
  height: 160vh;
  z-index: 2;
  border-radius: 10px;
  background-image: url("../../assets/images/backgroundhome2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: -200px;
}

.containerSectionKegiatan {
  margin: 0 auto;

  max-width: 1600px;
  height: 800px;
  z-index: 1;
  background-color: #4b8579;
  padding-top: 150px;
}

.containerSectionTop {
  margin: 0 auto;
  max-width: 1600px;
  height: 800px;
  z-index: 1;
  background-image: url("../../assets/images/background.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: white;
}

.welcome {
  display: flex;
  z-index: 1;
  max-height: 30px;
  margin-top: 5px;

  h2 {
    margin: 0;
    margin-left: 10px;
  }
}

.logo img {
  display: flex;
  align-self: center;
  height: auto;
  width: 35%;
  margin-right: 50px;
  margin-bottom: 50px;
}

.logo {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-content: center;
  flex-grow: 100%;
}

.desc {
  margin-top: 175px;
  margin-left: 150px;
  padding: 0 auto;
  margin-bottom: 20px;
  h1 {
    font-size: 75px;
    max-width: 1000px;
    margin-bottom: 20px;
  }

  p {
    margin-left: 10px;
  }

  h2 {
    margin-bottom: -50px;
  }
}

.judulz {
  // animation: fadeIn 3s
}

.judulSection2 {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 0px;
  flex-direction: row;
  align-items: center;
  h1 {
    margin-top: 300px;
    font-size: 50px;
    margin-inline: 10px;
  }

  h3 {
    text-align: center;
    margin-top: -20px;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.descSection2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  h1 {
    border-bottom: solid orange 2px;
  }

  p {
    font-size: 25px;
    font-weight: -100;
  }
}

.nilai {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  h2 {
    align-self: center;
    text-align: center;
  }

  p {
    max-width: 100px;
    font-size: 10px;
  }
}

.nilai img {
  align-self: center;
  height: auto;
  width: 75%;
}

.judulSection3 {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 30px;
  }

  h3 {
    text-align: center;
    margin-bottom: -11px;
  }
}

.judulSection5 {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: -100px;
  }

  h3 {
    text-align: center;
    margin-bottom: -11px;
  }
}

.judulSection4 {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 30px;
    margin-top: -80px;
    text-align: center;
  }

  h3 {
    text-align: center;
    margin-bottom: -11px;
  }
}

.organogram img {
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-shrink: calc(100% / 3);
}

.desctujuan {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;

  h2 {
    align-self: center;
    text-align: center;
  }

  p {
    max-width: 348px;
    font-size: 20px;
    text-align: center;
    margin-inline: 30px;
  }
}

.descsifat {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;

  h2 {
    align-self: center;
    text-align: center;
  }

  p {
    max-width: 300px;
    font-size: 20px;
    text-align: center;
    margin-inline: 40px;
  }
}

.linetujuan {
  width: 1px;
  height: 200px;
  background-color: black;
}
