.container {
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 1920px;
};

.welcome {
  display: flex;
  max-height: 30px;
  margin-top: 5px;

  h2 {
    margin: 0 ;
  }

  
};

.logo img {
  display: flex;
  align-self: center;
  height: auto;
  width: 35%;
  margin-right: 50px;
  margin-bottom: 50px;
};

.logo {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-grow: 100%;
};

.desc {
  margin-top: 175px ;
   h1 {
    font-size: 50px;

   }
};



