.containerSection {
  margin: 0 auto;
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background: #ff4a01;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

// .containerSection2 {
//   margin: 0 auto;
//   height: 100vh;
//   z-index: 2;
//   background-image: url("../../assets/images/backgroundhome2.png");
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: top;
//   margin-top: -100px;
// }

.containerSection2 {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;

  margin-bottom: 100px;
}

.type {
  font-family: jakarta;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 80px;
  font-size: 16px;
  text-align: center;
  align-items: center;
  z-index: 200;

  background: #ffffffdd;
  color: rgb(199, 122, 22);
  border-radius: 30px;
  top: 63vh;
  left: 66vw;
  font-weight: 600;

  @media screen and (max-width: 420px) {
    top: 78vh;
    left: 10vw;
    width: 230px;
    height: 40px;
    font-size: 13px;
  }
}

.gegep img {
  position: absolute;
  height: 320px;
  width: 210px;
  // border: 3px solid red;
  z-index: 99;
  top: 63vh;
  left: 77vw;

  @media screen and (max-width: 420px) {
    height: 200px;
    width: 120px;
    top: 77vh;
    left: 60vw;
  }
}

.oval {
  position: absolute;
  background: white;
  // z-index: inherit;
  top: 90vh;
  height: 20vh;
  width: 100vw;
  border-radius: 100%;
  overflow: hidden;
  // border: 3px solid red;

  @media screen and (max-width: 420px) {
    height: 15vh;
    width: 100vw;
    top: 93vh;
  }
}

.containerSectionKegiatan {
  margin: 0 auto 0 auto;
  z-index: 1;
}

.containerSectionTop {
  margin: 0 auto;
  height: 100vh;
  background: linear-gradient(
    158.24deg,
    #282929 4.26%,
    #003429 38.81%,
    #4b8579 90.31%
  );

  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  @media screen and (max-width: 420px) {
    height: 100vh;
  }
}

.star {
  background-image: url("../../assets/images/bintanghome.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: none;
  margin: 0 auto;
  height: 100vh;
  color: white;
  display: flex;
  padding-inline: 10px;
  justify-content: center;
  padding-top: none;
  margin-top: none;
  border: red solid 3px;

  @media screen and (max-width: 420px) {
    height: 100vh;

    padding-bottom: 20vh;
  }
}

.welcome {
  display: flex;
  z-index: 1;
  max-height: 30px;
  margin-top: 5px;

  h2 {
    margin: 0;
    margin-left: 10px;
  }
}

.logo {
  z-index: 1;
  height: 550px;
  width: 550px;

  @media screen and (max-width: 420px) {
    height: 300px;
  }
}

.desc {
  width: 50%;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: jakarta;
  }

  h1 {
    font-family: jakartaBold;

    font-weight: 800;
    font-size: 60px;
    line-height: 70px;
    /* or 100% */

    letter-spacing: 0.002em;
  }

  p {
    line-height: 120%;

    font-family: jakarta;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */

    text-align: justify;
    letter-spacing: 0.005em;
  }

  @media screen and (max-width: 420px) {
    h1 {
      font-size: 30px;
      line-height: 25px;
      margin-bottom: 10px;
    }
    p {
      font-size: 12px;
      line-height: 20px;
    }

    h2 {
      margin-bottom: 5px;
    }
  }
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: flex;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.learnMoreButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 36px;
  gap: 20px;
  margin-top: 20px;
  font-family: jakarta;
  width: 185px;
  height: 45px;

  border: 1px solid #ffffff;
  border-radius: 10px;
  color: white;
}

.learnMoreButton:hover {
  border: 1px solid orange;
  color: orange;
  cursor: pointer;
  transition: 300ms;

  .arrow {
    border: solid orange;
    border-width: 0 3px 3px 0;
    display: flex;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.fadeOut {
  border-bottom: 0px solid black;
  transition: border-bottom 0.3s;
  padding-bottom: 2px;
  font-family: jakarta;
  cursor: pointer;
}

.fadeIn {
  border-bottom: 2px solid black;
  transition: border-bottom 0.3s;
  padding-bottom: 5px;
  font-family: jakartabold;
  cursor: pointer;
}

.fadedOut {
  opacity: 0;
  transition: opacity 0.5s;
}

.judulSection2 {
  display: flex;

  justify-content: center;
  align-items: center;
  h1 {
    font-size: 50px;
    margin-inline: 10px;
  }

  h3 {
    text-align: center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.descSection2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 50px;
  font-family: jakarta;

  height: 300px;

  h1 {
    border-bottom: solid orange 2px;
    font-size: 32px;
    margin-block: none;
  }

  p {
    font-size: 20px;
  }
}

.asas {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: jakarta;
  gap: 50px;
  margin-top: 40px;

  height: 300px;

  h1 {
    border-bottom: solid orange 2px;
    font-size: 32px;

    margin-top: 5px;
  }

  p {
    font-size: 20px;
  }
}

.nilai {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  h2 {
    align-self: center;
    text-align: center;
  }

  p {
    max-width: 100px;
    font-size: 10px;
  }
}

.nilai img {
  align-self: center;
  height: auto;
  width: 75%;
}

.judulSection3 {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  margin-left: -70px;

  h1 {
    font-family: jakarta;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 65px;
    color: white;
    letter-spacing: -0.01em;
    max-width: 220px;
  }

  h2 {
    font-family: jakarta;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;

    color: #ffffff;
  }

  a {
    font-family: jakarta;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;

    color: #ffffff;
  }

  a:hover {
    cursor: none;
  }
}

.judulSection5 {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: jakartaBold;

  h1 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  h3 {
    text-align: center;
    margin-bottom: -11px;
  }
}

.judulSection4 {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  color: black;
  font-family: jakarta;

  h1 {
    font-size: 30px;
    text-align: center;
    font-family: jakartabold;
  }

  h2 {
    margin-top: 20px;
  }

  h3 {
    text-align: center;
    margin-top: 10px;
  }
}

.desctujuan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 200px;

  h2 {
    text-align: center;
  }

  p {
    max-width: 348px;

    margin-inline: 30px;
  }
}

.descsifat {
  display: flex;
  flex-direction: row;

  justify-content: center;

  h2 {
  }

  p {
    max-width: 300px;
    text-align: center;
  }
}

.linetujuan {
  width: 1px;
  height: 200px;
  background-color: black;
}

.easteregg1 {
  z-index: 1;
  color: red;
  width: 28px;
  height: 28px;
  background: red;
  position: absolute;
  top: 69%;
  right: 49.3%;
  border-radius: 100%;
}

.ketuaContainer {
  display: flex;
  width: 1140px;
  height: 455px;
  margin: 0 auto;

  justify-content: center;
  align-items: center;
  gap: 122px;

  background: #ff4a01;
  border-radius: 25px;
  color: #ffffff;
  margin-bottom: 150px;

  p {
    font-family: jakarta;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    display: flex;
    align-items: center;
    width: 550px;
    text-align: justify;
  }

  h1 {
    text-align: center;
    font-family: jakarta;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }

  h2 {
    text-align: center;
    font-family: jakarta;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }
}

.ketuaImage {
  width: 200px;
  height: 200px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

//mobilestyling

.landingPage {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 420px) {
    flex-direction: column-reverse;
    h1 {
      font-size: 20px;
    }

    p {
      font-size: 12px;
    }

    h2 {
      font-size: 12px;
    }
  }
}
