/* Modal Button */
.modalButton {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 12px 24px;
}

/* Modal */
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;

  z-index: 100;
}

.modalContainer {
  width: 1100px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 40px;

  background-image: url("../../assets/images/gegepmodal.png");
  background-color: darkblue;
  background-size: cover;
}

.modalContainer2 {
  width: 1100px;
  height: 650px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  font-family: jakarta;
  background-color: white;
  background-size: cover;

  .content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

    h1 {
      font-family: jakartaBold;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 125%;
      color: #000000;
      width: 500px;
    }

    h2 {
      margin-block: 20px;
      width: 500px;
    }

    p {
      width: 500px;
      text-align: justify;
      overflow-y: scroll;
      height: 400px;
      line-height: 20px;
    }

    p::-webkit-scrollbar {
      width: 8px;
    }

    img {
      max-width: 450px;
      max-height: 500px;
    }
  }
}

.modalContainer2Mobile {
  width: 350px;
  height: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 40px;
  font-family: jakarta;
  background-color: white;
  background-size: cover;

  .content2 {
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    margin: auto;
    height: 650px;

    h1 {
      font-family: jakartaBold;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 125%;
      color: #000000;
      width: 275px;
    }

    h2 {
      margin-block: 20px;
      width: 500px;
      color: gray;
    }

    p {
      width: 300px;
      text-align: justify;
      overflow-y: scroll;
      line-height: 20px;
      height: 310px;
    }

    p::-webkit-scrollbar {
      width: 8px;
    }

    img {
      max-width: 300px;
      height: 200px;
      object-fit: contain;
      margin-bottom: 20px;
    }
  }
}

.modalContainer img {
  width: 800px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.modalRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  font-family: jakartaBold !important;
  color: rgb(228, 57, 57) !important;
  top: 30px !important;
  right: 30px !important;
  font-size: 40px !important;

  p {
    font-size: 50px !important;
  }
}

.closeBtnMobile {
  position: fixed !important;
  font-family: jakartaBold !important;
  color: rgb(228, 57, 57) !important;
  top: 30px !important;
  right: 30px !important;
  font-size: 25px !important;

  p {
    font-size: 50px !important;
  }
}

.closeBtnMobilePemilu {
  position: fixed !important;
  font-family: jakartaBold !important;
  color: rgb(228, 57, 57) !important;
  top: 30px !important;
  left: 30px !important;
  margin-right: -200px !important;
  font-size: 25px !important;
  display: flex;
  justify-content: flex-end;
  padding-inline: 10px;
  padding-top: 5px;

  p {
    font-size: 50px !important;
  }
}

.closeBtn:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 2rem;
  line-height: 25px;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}
.btnContainer button {
  width: 100%;
  margin: 0.5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
}

.btnPrimary {
  background-color: #411b57;
  color: white;
}

.btnOutline {
  /* background-color: #a76a99; */
  background-color: white;
  color: #411b57;
}

.btnOutline:hover {
  cursor: pointer;
}
.btnPrimary:hover {
  cursor: pointer;
}
.bold {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }
  img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
  }

  .heading {
    margin: 1rem;
  }
}

.modalContainerPemilu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1100px;
  height: 650px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 40px;

  background-color: white;
  background-size: cover;
  padding-inline: 50px;

  br {
    margin-top: 15px;
  }

  p {
    font-family: "BlackHarbour";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #1a1b1f;
  }
}

.modalContainerPemiluMobile {
  width: 90vw;
  height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 40px;
  font-family: jakarta;
  background-color: white;
  background-size: cover;
  padding: 10px;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;

  h1 {
    font-family: jakartaBold;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #000000;
    width: 275px;
  }

  h2 {
    margin-block: 20px;
    width: 500px;
    color: gray;
  }

  p {
    width: 300px;
    text-align: justify;

    line-height: 20px;
    font-size: 11px;
  }

  img {
    max-width: 300px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 20px;
  }
}

.modalContainer3 {
  width: 1100px;
  height: 650px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  font-family: jakarta;
  background-color: white;
  background-size: cover;

  .content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

    h1 {
      font-family: jakartaBold;
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 125%;
      color: #000000;
      width: 800px;
    }

    h2 {
      margin-block: 20px;
      width: 800px;
    }

    p {
      width: 800px;
      text-align: justify;
      overflow-y: scroll;
      height: 400px;
      line-height: 20px;
      font-size: 14px;
    }

    p::-webkit-scrollbar {
      width: 8px;
    }

    img {
      max-width: 450px;
      max-height: 500px;
    }
  }
}

.modalContainer3Mobile {
  width: 350px;
  height: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 40px;
  font-family: jakarta;
  background-color: white;
  background-size: cover;

  .content2 {
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    margin: auto;
    height: 650px;

    h1 {
      font-family: jakartaBold;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 125%;
      color: #000000;
      width: 275px;
    }

    h2 {
      margin-block: 20px;
      color: gray;
    }

    p {
      width: 300px;
      text-align: justify;
      overflow-y: scroll;
      line-height: 20px;
      height: 310px;
    }

    p::-webkit-scrollbar {
      width: 8px;
    }

    img {
      max-width: 300px;
      height: 200px;
      object-fit: contain;
      margin-bottom: 20px;
    }
  }
}