.container {
  display: flex;
  height: 100vh;
  width: 99.5vw;
  justify-content: center;
  align-items: center;
}

.containerMascot {
  display: flex;
  height: 100vh;
  width: 99.5vw;
  justify-content: center;
  align-items: center;
  color: white;
}

.mascotText {
  background: linear-gradient(153.18deg, #d5a33b -3.98%, #f5fcb5 70.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: flex;
  align-items: center;
  gap: 100px;

  P {
    width: 778px;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  h1 {
    font-size: 64px;
    line-height: 150%;
    letter-spacing: -0.022em;
    width: 300px;
  }

  h2 {
    font-size: 36px;
    line-height: 150%;
    /* or 54px */

    letter-spacing: -0.023em;
  }
}

.containerMascot img {
  width: 600px;
  padding-inline: 50px;
}

.buttonMascot {
  background: #5e2d7b;
  border-radius: 1000px;
  width: 150px;
  height: 35px;
  color: white;
  text-align: center;
  padding-top: 15px;
  margin-left: auto;
  margin-top: 50px;
}

.buttonMascot:hover {
  cursor: pointer;
  background: white;
  color: #5e2d7b;
  transition: cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.1s;
}

.containerModal {
  display: flex;

  width: 99.5vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.title {
  display: flex;
  height: 15vh;
  width: 99.5vw;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  h1 {
    font-size: 50px;
    margin-top: 200px;
  }

  h2 {
    font-size: 30px;
    margin-top: 10px;
  }
}

.titleText {
  background: linear-gradient(117.97deg, #d5a33b -4.84%, #5e2d7b 75.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  width: 800px;
  height: 700px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
    font-family: "Bambino-Black";
    font-size: 70px;
  }

  h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Bambino-Black";
    font-size: 35px;
  }
}
.carouselcontainer {
  margin-top: 50px;
}

.pageBackground {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #2e5d87 24.18%,
    #281f64 40.78%,
    #356777 59.75%,
    #292645 91.05%
  );
  padding-top: 10px;
}

.teaser {
  background: linear-gradient(91.43deg, #d5a33b 13.77%, #f5fcb5 97.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  h1 {
    font-family: "Bambino-Black";
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
  }
}

.fasilitasContainer {
  width: 453px;
  height: 504px;
  margin-left: 50px;
  background: linear-gradient(180deg, #f5fcb5 0%, #356777 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
}

.rutePetaContainer {
  width: 653px;
  height: 504px;

  background: linear-gradient(180deg, #f5fcb5 0%, #356777 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  position: relative;
  z-index: 1;
}

.rutePetaButton {
  width: 113px;
  height: 145px;

  background: #f5fcb5;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  color: #d5a33b;
}

.rutePetaButton:hover {
  cursor: pointer;
}

.rutePetaButtonContainer {
  display: flex;
  position: absolute;
  margin-top: -50px;
  margin-left: 50px;
  z-index: 0;
}
