.container {
  display: flex;

  justify-content: center;
}

.containerTop {
  display: flex;

  width: 1280px;
  margin: 0 auto;
  justify-content: flex-end;
  padding-inline: 10px;
}

.gegepHeader {
  position: absolute;
  margin-right: 450px;
  margin-top: 30px;
}

.title {
  display: flex;
  flex-direction: column;
}

.titleText {
  background: linear-gradient(91.43deg, #d5a33b 13.77%, #f5fcb5 97.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));

  h1 {
    font-size: 150px;
    align-items: center;
    padding-top: 20px;
    // text-align: center;
    font-stretch: expanded;
    font-family: bambino;
    font-weight: 800;
    // margin-left: -10px;
  }
}

.containerMascot {
  display: flex;
  margin-block: 143px;
  width: 99.5vw;
  justify-content: center;
  align-items: center;
  color: white;
}

.mascotText {
  background: linear-gradient(153.18deg, #d5a33b -3.98%, #f5fcb5 70.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: flex;
  align-items: center;
  gap: 100px;

  P {
    width: 778px;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  h1 {
    font-size: 64px;
    line-height: 150%;
    letter-spacing: -0.022em;
    width: 300px;
  }

  h2 {
    font-size: 36px;
    line-height: 150%;
    /* or 54px */

    letter-spacing: -0.023em;
  }
}

.containerMascot img {
  width: 600px;
  padding-inline: 50px;
}

.titleTextH2 {
  background: radial-gradient(50% 50% at 50% 50%, #d5a33b 0%, #f5fcb5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  padding-top: 10px;
  margin-right: 20px;

  h2 {
    font-size: 30px;
    font-weight: 800;

    font-family: bambino;
  }

  h1 {
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 30px;

    font-family: bambino;


  }
}

.buttonMascot {
  background: #281f64;
  border-radius: 1000px;
  width: 374px;
  padding-block: 13px;
  text-align: center;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 5px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.buttonMascot:hover {
  cursor: pointer;
  background: white;
  color: #5e2d7b;
  transition: cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.1s;
}

.containerModal {
  display: flex;

  width: 99.5vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.carouselcontainer {
  margin-top: 50px;
}

.pageBackground {
  background: linear-gradient(
    180deg,
    #ffffff -15%,
    #2e5d87 5.18%,

    #281f64 40.78%,
    #356777 59.75%,
    #292645 91.05%
  );
  padding-top: 100px;
  font-family: bambino;
}

.teaser {
  background: linear-gradient(91.43deg, #d5a33b 13.77%, #f5fcb5 97.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  h1 {
    font-family: bambino;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
  }
}

.fasilitasContainer {
  width: 453px;
  height: 504px;
  margin-left: 50px;
  background: linear-gradient(180deg, #f5fcb5 0%, #356777 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
}

.rutePetaContainer {
  width: 653px;
  height: 504px;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 3px solid red;
  background: linear-gradient(180deg, #f5fcb5 0%, #356777 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  position: relative;
  z-index: 1;
}

.rutePetaButton {
  width: 113px;
  height: 145px;

  background: #f5fcb5;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  color: #d5a33b;
}

.rutePetaButton:hover {
  cursor: pointer;
}

.rutePetaButtonContainer {
  display: flex;
  position: absolute;
  margin-top: -50px;
  margin-left: 50px;
  z-index: 0;
}

.countDownContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;

  h3 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}

.countDownTitle {
  background: linear-gradient(91.43deg, #d5a33b 13.77%, #f5fcb5 97.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));

  h3 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}
