.container {
    background-color: #4B8579;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    max-height: 50px;
    margin-left: 10px;
    margin: 0 auto;
    padding: 8px 25px 8px 25px;
    border: solid black 2px;
    position: sticky;
    top: 0;

    nav {
            position: sticky;
            top: 0;
        }
    
};

.logotext {
    display:flex;
    flex-direction: column;
}

.logo   {
    display: flex;
    max-height: 50px;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin-left: 50px;

    a {
        margin-left: 5px;
        font-family: montserrat;
        font-style: normal;
        font-weight: 100;
        font-size: 5px;
        color: white;
    }
     h1 {
        margin-left: 5px;
        font-family: montserrat;
        font-style: bold;
        font-weight: 600;
        font-size: 20px;
        color: white;
        margin-bottom: -3px;
        margin-top: -3px;
    }
};

.logo img {
    display: flex;
    max-height: 50px;
}

.linkContainer {
    display: flex;
    justify-content: center;
    font-family: montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: black;
    align-self: center;
    border: solid black 2px;
    margin-right: 135px;
    
    

    Dropdown + Dropdown {
        margin-left: 20px;
    }
};

.link {
    color: white;
    text-decoration: none;
    
}

.searchIcon img {
    color: black;
    max-height: 50px; 
};

