.container {
  background-color: #4b8579;
  max-height: 58px;
  position: sticky;
  top: 0;
  z-index: 10;
  justify-content: space-around;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 50px;
  margin: 0 auto;
  padding: 8px 25px 8px 25px;
  position: sticky;
  top: 0;
  max-width: 1280px;

  @media screen and (max-width: 418px) {
    max-width: 368px;
  }

  nav {
    position: sticky;
    top: 0;
  }
}

.logotext {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  max-height: 50px;
  flex-direction: row;
  align-content: center;
  text-decoration: none;
  margin-bottom: 5px;

  h1 {
    margin-left: 5px;
    font-family: montserrat;
    font-style: bold;
    font-weight: 600;
    font-size: 10px;
    color: white;
    margin-bottom: -3px;
    margin-top: 5px;
  }
}

.logo img {
  display: flex;
  max-height: 35px;
}

.linkContainer {
  display: flex;
  justify-content: center;
  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  color: white;
  align-self: center;

  Dropdown + Dropdown {
    margin-left: 20px;
  }
}

.link {
  text-decoration: none;
  color: white;
  font-size: 10px;
  background-color: inherit;
  font-family: sans-serif;
  align-self: center;
  margin-left: 15px;
}

.searchIcon {
  width: 197px;
  display: flex;
  justify-content: flex-end;
  border: 3px solid black;
}

.searchIcon img {
  color: black;
  max-height: 50px;
}
