.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;

}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;

}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 50px;
  font-size: 3rem;
  color: #4e887c;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 50px;
  font-size: 3rem;
  color: #4e887c;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
