.sliderWin {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  filter: drop-shadow(0px 30px 50px rgba(0, 0, 0, 0.5));
}

.image {
  width: 600px;
  height: 350px;
  border-radius: 10px;
}

.right-arrow {
  position: relative;
  left: 690px;
  font-size: 3rem;
  color: white;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: relative;

  left: 5px;
  font-size: 3rem;
  color: white;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.slideWin {
  opacity: 0;
  transition-duration: 1s ease;
}

.slideWin.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
