.container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    height: 200px;
    margin-left: 10px;
    margin: 0 auto;
    padding: 8px 25px 8px 25px;
    border: solid black 2px;
};