.container {
  background-color: #4b8579;
  display: flex;
  align-items: center;
  font-family: jakarta;
  flex-direction: column;
  z-index: 6;
  position: relative;
  font-size: 16px;
  overflow-x: hidden;
}

.containerGeopoint {
  background: #281f64;
  display: flex;
  font-family: jakarta;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  z-index: 6;
  position: relative;
  font-size: 16px;
  overflow-x: hidden;
}

.containertopcontact {
  display: flex;
  margin-bottom: 50px;

  background: #396a60;
  width: 100vw;
  height: 80.25px;
  overflow-x: hidden;

  @media screen and (max-width: 420px) {
    max-width: 100vw;
  }
}

.container2 {
  width: 1180px;
  margin-bottom: 20px;

  @media screen and (max-width: 1180px) {
    width: 90vw;
  }
}

.contenttop {
  display: flex;
  align-items: center;
  justify-self: start;
  align-self: flex-start;
  gap: 50px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  margin-bottom: 30px;

  @media screen and (max-width: 420px) {
    flex-direction: column;
  }
}

.connect {
  display: flex;
  flex-direction: column;
  h1 {
    // font-family: jakartaBold;
    font-size: 20px;
  }
}

.karya {
  margin-right: 100px;
}

.logotext {
  display: flex;
  flex-direction: column;

  h1 {
    color: white;
    font-size: 1rem;
  }

  @media screen and (max-width: 420px) {
    h1 {
      color: white;
      font-size: 1rem;
    }
  }
}

.logo {
  display: flex;
  max-height: 50px;
  flex-direction: row;
  align-items: center;
  text-decoration: none;

  a {
    margin-left: 5px;
    font-style: normal;
    font-weight: 100;
    color: white;
  }
  h1 {
    margin-left: 5px;
    // font-style: bold;
    // font-weight: 600;
    color: white;
  }
}

.logo img {
  display: flex;
  max-height: 10vh;

  @media screen and (max-width: 420px) {
    max-width: 10vw;
  }
}

.bottom {
  display: flex;
  color: white;
  border-top: 1.05589px solid rgba(255, 255, 255, 0.1);

  justify-content: space-between;
  h1 {
    margin-block: 20px;
    align-content: center;
    justify-self: center;
    text-align: center;
    font-family: jakartaBold;
  }

  @media screen and (max-width: 420px) {
    flex-direction: column;
  }
}

.imageContainer {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  img {
    height: 60%;
    margin-right: 7px;
  }

  @media screen and (max-width: 420px) {
    img {
      max-height: 8vh;
      max-width: 11vw;
    }
  }
}

.imageContainer:hover {
  cursor: pointer;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 393.75px;

  @media screen and (max-width: 420px) {
    max-width: 100vw;
    gap: 0px;
    justify-content: center;
    padding-inline: 4vw;
  }
}

.detailAddress {
  display: flex;
  align-items: center;
  gap: 16px;
  color: white;
  line-height: 1.2;

  @media screen and (max-width: 420px) {
    gap: 10px;
    margin-right: 0px;
    font-size: 0.58rem;
  }
}

.detailAddress:hover {
  cursor: pointer;
}

.contactLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4b8579;

  border-radius: 100%;
  width: 56.25px;
  height: 56.25px;
  img {
    width: 36px;
    height: 36px;
  }

  @media screen and (max-width: 420px) {
    max-width: 40px;
    max-height: 40px;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.karya {
  display: flex;
  flex-direction: column;
  a {
    margin-bottom: 15px;
  }
}
