/* Basic Settings  */

@font-face {
  font-family: jakarta;
  src: url(./assets/fonts/PlusJakartaDisplay-Regular.otf);
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: 8px;
  scrollbar-color: #6a6a6a #ffffff;
  font-family: jakarta;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #989898;
  border-radius: 8px;
  border: 2px solid #ffffff;
}

input:focus {
  outline: none;
}

