.progressBarContainer {
  margin-top: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.bar {
  position: absolute;
  z-index: 0;
  margin-bottom: 20px;
  background: #d5a33b;

  width: 1100px;
  height: 6px;
}

.dots {
  width: 30px;
  height: 30px;
  color: blue;
  position: relative;
  z-index: 1;

  background: linear-gradient(180deg, #d5a33b 0%, #f5fcb5 97.92%);
  border-radius: 100%;
  margin-block: 20px;
}

.dotsActive {
  width: 30px;
  height: 30px;
  color: blue;
  position: relative;
  z-index: 1;

  border-radius: 100%;
  margin-block: 20px;

  background: #442e00;
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
}

.progressBar {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  align-items: center;
}

.dotsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;

  h2 {
    width: 50px;
    text-align: center;
    overflow: visible;
    font-size: 20px;

    margin: 0;
    color: #f5fcb5;
  }
}
