.testContainerIMG {
  display: flex;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 20px;
  justify-content: space-between;
  margin-top: 20px;
}

.adminContainerIMG {
  display: flex;
  /* flex-direction: column; */
  /* position: absolute; */
  width: 850px;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 3px solid black; */
}

.kameradContainerIMG {
  display: flex;
  /* flex-direction: column; */
  padding-bottom: 20px;
  /* padding-top: 20px; */
}

.kamerad-container-idIMG {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 20px;
  /* justify-content: space-around; */
  /* border: 3px solid black; */
}

.kamerad-container-idIMG img {
  border-radius: 20px;
  object-fit: cover;
}

.kamerad-container-idIMG p {
  font-family: poppins;
  font-style: normal;
}

.kamerad-idIMG {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  /* justify-content: center; */
  align-items: center;
  /* border: 3px solid black; */
}

.deletegallery {
  /* border: 3px solid black; */
  /* margin-top: -1px; */
  padding-bottom: 10px;
}

.admin-navbar a {
  margin-right: 20px;
  padding-inline: 10px;
  text-decoration: none;
  text-align: center;
  font-family: jakarta;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.admin-navbar a:hover {
  color: black;
  text-decoration: underline;

}

.admin-navbar {
  width: 1280px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-block: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  line-height: 30px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

.deleteButton button {
  border: 2px solid red;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(0, 0, 128, 0);
  color: red;
}

.deleteButton button:hover {
  cursor: pointer;
  color: rgb(252, 81, 81);
  border: 2px solid rgb(242, 98, 98);
}
