.wrapperCard {
  display: flex;
  max-width: 95vw;
  height: 700px;
  align-self: center;
  align-content: center;
  margin-top: 50px;
  overflow: hidden;
  margin: 0 auto;
}

.slidecontainer {
  height: 240px;
  width: 99.6vw;
  overflow: hidden;
  @media screen and (max-width: 420px) {
    border: red 3px solid;
  }
}

.modalImgContainer {
  display: flex;
  width: 400px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.modalImgSlider {
  display: flex;
  max-width: 400px;
  max-height: 300px;
}

.modalImgContainer img {
  max-width: 400px;
  max-height: 400px;
}

.wrapperGallery {
  height: 800px;
  display: flex;
  width: 100vw;
  justify-self: center;
  align-self: center;
  align-content: center;
  overflow: hidden;
  @media screen and (max-width: 420px) {
    max-width: 100vw;
    border: red 3px solid;
  }
}

.galleryElementContainer {
}
.galleryElementContainer img {
  height: 220px;
  width: 275px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 10px;
  filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.558));

  @media screen and (max-width: 420px) {
    border: red 3px solid;
  }
}

.galleryWrapper {
  display: flex;
  flex-direction: column;
}

.galleryCarousel {
  height: 500px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.galleryCarousel:hover {
  cursor: grab;
}

.madeElementContainer {
  max-width: 320px;
  margin: 20px;
  // margin-bottom: 50px;
  height: 480px;
  background: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 5px 5px rgba(0.5, 0.5, 0.5, 0.5));
}

.madeElementTitle {
  // font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  color: #000000;
  margin-top: -5px;
  text-align: center;
}

.madeElementImage img {
  width: 340px;
  height: 226.98px;
  border-radius: 25px 25px 0 0;
  margin: 0;
  object-fit: fill;
}

.madeElementContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  // font-family: poppins;
  font-style: normal;
  font-family: jakarta;
  // border: 1px solid red;
  line-height: 18px;
  color: black;
  // margin-bottom: 30px;
  text-align: center;
  padding-inline: 20px;

  h1 {
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    font-family: jakartabold;
  }

  p {
    max-width: 300px;
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    width: 130px;
    color: #c7c9d9;
  }
}

.madeElementButton {
  width: 300px;
  height: 40px;
  font-size: 16px;

  align-items: center;
  text-align: center;
  border-radius: 15px;
  padding: 10px 25px;

  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;

  background: #ff4a01;

  p {
    text-align: center;
    font-style: normal;
    text-decoration: none;
    color: white;
    border-bottom: none;
  }
}

.madeElementButton:hover {
  background: #fa7b49;
  cursor: pointer;
  transition-duration: 500ms;
}

.madeElementWrapper {
  // display: flex;
  // flex-direction: column;
  // margin: 0 auto;
  // border: black 3px solid;
}

// .madeElementWrapper .slick-list {
//   width: 400px;
// }

// .madeElementWrapper .slick-slide {
//   width: 600px;
// }

// .madeElementWrapper .slide_item {
//   width: 400px;
// }

// .slick-track .slick-list {
//   width: 400px;
// }

.madeElementCard {
  height: 400px;
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.wrapperVerticalCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 1500px;
  max-width: 1200px;
  margin: 0 auto;
}

.verticalCardContainer {
  max-width: 1100px;
  max-height: 1500px;
  background: #d9d9d9;
  border-radius: 25px;
  margin-block: 10px;
  margin-left: 50px;

  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.verticalCardContainer:hover {
  cursor: grab;
}

.verticalCardImage {
  width: 1050px;
  display: flex;
}
.verticalCardImage img {
  width: 300px;
  height: 200px;
  border-radius: 25px 0 0 25px;
  margin: 0 0 0 0;
  object-fit: fill;
  margin-left: -25px;
}

.verticalCardContent {
  width: 900px;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  flex-direction: column;
  padding-left: 50px;
  text-align: left;
  gap: 20px;
  padding-top: 20px;

  h1 {
    max-width: fit-content;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }
}

.verticalCardButton {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  align-items: left;
  text-align: center;
  border-radius: 11px;
  padding: 9px 25px;
  margin-bottom: 25px;
  text-decoration: none;
  max-width: 150px;
  max-height: 13px;

  background: #ff8735;
  border-bottom: none;

  a {
    text-decoration: none;
    border-bottom: none;
  }

  p {
    margin: 0 0 0 0;
    text-align: center;
    font-style: normal;
    text-decoration: none;
    margin: 0 0 0 0;
    margin-top: -5px;
    color: white;
    border-bottom: none;
  }
}

.verticalCardButton:hover {
  background: white;
  border-radius: 11px;
  cursor: pointer;
  transition-duration: 300ms;

  p {
    color: #ff8735;
  }
}

.verticalCardCard {
  height: 400px;
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.verticalCardContainer .verticalCardImage {
  /* border: 3px solid red; */
  margin-inline: 25px;
  border-radius: 24px;
}
